
<svg width="64" height="64" viewBox="0 0 353 222" fill="none" 
xmlns="http://www.w3.org/2000/svg">
<path d="M1.7 0.100006H61.2L103.8 59.5L74.2 101.2L1.7 0.100006Z" fill="#1ec713"/>
<path d="M341.4 0.100006H157.4L0.0999985 221.1H60.8L110.1 152.4L158.8 221.1H342.8L352.8 210.4V11.4L341.4 0.100006ZM309.4 91.4L222.7 91.1L215.7 95.8L216 125.1L221.7 133.1L309.4 132.8V174.5L301.4 185.8H193.4L140.4 110.7L195.1 34.5H301.8L309.5 44.8V91.4H309.4Z" fill="#333333"/>
</svg>
<hr>
<h3 style="font-size:20px;">Halo, {{$name}} Please Verify Your Email</h3>
<div style="font-size:18px; font-weight:400; text-align: justify;">
    There is one short step that you need to complete the compilation in your Extreme Creative account.
    Make sure that this is the appropriate email address. Please confirm that this is the address that will be used for your new account.
</div>
<br>
<br>
<div style="text-align: right;">
    <a href="{{$linkVerify}}" style="font-size: 20px;
        background-color: #FDDC33;
        color: black;
        padding: 0.7rem;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0px 10px 25px -15px #ff2f00;
    ">Verify Now</a>
</div>
<br>
<br>
<p style="font-size: 14px; line-height: 5px;">Thanks Regards,</p>
<p style="font-size: 14px; line-height: 5px;">Extreme Creative</p>
<br>
<hr>
<p style="font-size: 14px; line-height: 5px;">Website : <a href="https://extremecreative.id">{{$website}}</a></p>
<p style="font-size: 14px; line-height: 5px;">Instagram : <a href="https://extremecreative.id">Extreme Creative</a></p>
<p style="font-size: 14px; line-height: 5px;">Facebook : <a href="https://extremecreative.id">Extreme Creative</a></p>
